{% extends 'base.html' %}
{% block content %}
    {% if form.instance.pk %}
        <h3>Update Feedback Details</h3>
        <form method="POST">
            {{ form.as_p }}
            {% csrf_token %}
        <input class="btn btn-md btn-primary" type="Submit" name="Submit" value="Update Feedback">
        </form>
    {% else %}
        <h3>Add New Feedback</h3>
        <form method="POST">
            {{ form.as_p }}
            {% csrf_token %}
        <input class="btn btn-md btn-info" type="Submit" name="Submit" value="Add Feedback">
        </form>
    {% endif %}
{% endblock %}